.BGdefault
.FvwmConsole-History
.FvwmForm-XDGMenu-Config
FvwmScript-ConfirmCopyConfig
FvwmScript-ConfirmQuit
FvwmScript-DateTime
README
config,v
config-bak
config.adl-nuc
config.base
config.cdpresto-mobl2
config.garage
config.good_windows
config.menu_left
config.only_windows
current_wallpaper
default-config/
icons/
images/
mikeg-fvwm-config.tar
pixmaps/
scripts/

